<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="stylelayout.css">
    <style>
        

    </style>
    <div class="header">
        <h1>HEADER</h1>
    </div>
    <div>
    <ul>
        <li>navigation 1</li>
        <li>navigation 2</li>
        <li>navigation 3</li>
    </ul>
    </div>
    <div class="container">
        <h2>container</h2>
        <img src="Ariana.Jpg" alt="Ariana" class="float-right">
        <p>Me and my truth, we sit in silence
            Baby girl, it's just me and you
            'Cause I don't wanna argue, but I don't wanna bite
            My tongue, yeah, I think I'd rather die
            You got me misunderstood, but at least I look this good
            We can't be friends
            But I'd like to just pretend
            You cling to your papers and pens
            Wait until you like me again
            Wait for your love
            Love, I'll wait for your love
            I'll wait for your love
            Love, I'll wait for your love
            Know that you made me
            I don't like how you paint me, yet I'm still here hanging
            Not what you made me
            It's something like a daydream
            But I feel so seen in the night
            So for now, it's only me
            And maybe that's all I need
            We can't be friends
            But I'd like to just pretend
            You cling to your papers and pens
            Wait until you like me again
            Wait for your love
            Love, I'll wait for your love
            I'll wait for your love
            Love, I'll wait for your love
            </p>
    </div>
    <div class="footer">
        <h3>footer</h3>
    </div>
</body>
</html>